:root {
  --background: #262254;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262254;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
  background-color: var(--background);
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
